# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/
[Ll]og/
[Tt]emp/

# .NET artifacts
*.dll
*.exe
*.pdb
*.cache
*.db
*.mdb

# Others
*.log
*.vsidx
*.vscode/
*.DS_Store
